bin/

bin_temp/
*.zip

*.dll
*.lib
*.exp
*.obj
*.iobj
*.ipdb
*.pdb
*.idb
*.recipe
*.ilk

*.tlog
*.lastbuildstate
*.unsuccessfulbuild

.vs/
*.VC.db
*.VC.opendb

native_dll/**/intermediate/
release/**/selfiestick.ini
